//  ================================================================================================
//  ? TIP:  It is recommended to use this file for overriding bootstrap variables.
//  ================================================================================================
$green: #16A085 !default;
$blue: #16A085 !default;
$red: #C0392B !default;
$gray: #7F8C8D !default;
$yellow: #F1C40F !default;
